.administrate-jsoneditor textarea {
  display: none;
}

.jsoneditor-mode-text textarea {
  display: block;
}

table.jsoneditor-tree td {
  overflow: visible;
}

table.jsoneditor-search input {
  padding: 0;
  line-height: 20px; 
}